/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-text: #111;
    --color-background: #006abe;
    --etiket: #000;
    --naam: #b80000;
    --text: white;

    /*aangemaakte kleuren voor de etiket en de dop
     */
    --blauw: #006abe;
    --paars: #ff1fff;
    --groen: #9ec200;
    --rood: #ff4d4d;

    /*aangemaakte kleuren voor de buttons
     */
    --btnblauwact: #004680;
    --btnroodact: #b80000;
    --btnpaarsact: #850085;
    --btngroenact: #6c8500;

}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #000;
        --text: grey;
    }

    input[type=text] {
        background-color: var(--color-background);
    }

}



/****************/
/****************/

body {
    height:100dvh;
    margin:0;
    font-family: pepsi, sans-serif;
    background-color: var(--color-background);
}
main {
    width:100%;
    height:100%;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr max-content;
    grid-template-areas:"fles" "controls" ;
}


/* FONTS */
/*********/
/**************/
@font-face {
    font-family: 'pepsi';
    src: url('../fonts/PEPSI_pl.ttf');
    font-weight: normal;
    font-style: normal;
}

*, *::after, *::before {
    box-sizing: border-box;
}

button:not[disabled], summary {
    cursor: pointer;
}

/**/


main > section:nth-of-type(1) {

    grid-area: controls;
}



/*section van de fles
 */

section:nth-of-type(2) {
    /*grid-area: fles;*/
    grid-area: fles;
    align-items: center;

}

#capture {
    position: relative;
    /*background-color: var(--color-background);*/
    /*padding-top: 3em;*/
    padding:1em;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: clamp(.6em, 2.5vmin, 1em);

}



section:nth-of-type(2) > img {
    width: 31.25em;
}

/* etiket en dop */
section:nth-of-type(2) > section {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10em;

    width: 31.25em;
    aspect-ratio: 1;
}

.Dop {
    background-color: var(--etiket);
    width: 4em;
    height: 2.8em;
    border: transparent;
    border-radius: 1em 1em 0 0;
    box-shadow: inset -0.1em 0.3em .75em white;
}

.Etiket {
    height: 10.2em;
    width: 7.6em;
    background-color: var(--etiket);
    box-shadow: inset -0.2em 0.2em 1.875em whitesmoke;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap:.5em;
    padding:.5em;
}

/*pepsilogo
 */
section:nth-of-type(2) section > article:nth-of-type(2) > img {
    width: 7em;
    /*display: block;*/
    /*margin: -0.5em auto -1em;*/
    padding-top: 1em
}

/*flestext
 */
section:nth-of-type(2) section > article:nth-of-type(2) > h2 {
    font-size: 1.5em;
    color: var(--naam);
    font-family: pepsi, sans-serif;
    text-align: center;
    margin:0;
}


/* lijsten met opties */
div {
    display:grid;
    align-items: center;
    column-gap: 1em;
    grid-template-columns: 1fr max-content;
    grid-template-rows: auto auto;
    grid-template-areas:
            "titel button"
            "controlArea controlArea";
}

section:nth-of-type(1) > article:nth-of-type(1) > div > h2 {
    font-size: 1.5em;
    color: var(--naam);
    font-family: pepsi, sans-serif;
    grid-area: titel;
    cursor:pointer;
}
section:nth-of-type(1) > article:nth-of-type(1) > div > button {
    grid-area: button;
}


button[aria-expanded="false"] + * {
    display:none;
}

ul {
    list-style: none;
    display: flex;
    padding:0.5em;
    grid-area:controlArea;
}

section:nth-of-type(1) > article:nth-of-type(1)> div > ul > li > button {
    margin-right: 0.5em;
    height: 4em;
    width: 4em;
    border: var(--text) solid 2px;
    border-radius: 100%;
}


section:nth-of-type(1) > article:nth-of-type(1)> div > form {
    grid-area:controlArea;
}
input[type=color] {
    margin-right: 0.5em;
    height: 4em;
    width: 4em;
    border: var(--text) solid 2px;
    border-radius: 100%;
}

#color-picker {
    border-radius: 100%;

}

input {
    font-size: 1em;
    background-color: var(--blauw);
    border: white solid 2px;
    color: white;
    height: 2em;

}

input::placeholder {
    color: white;
}

button[type=submit] {
    font-size: 1em;
    background-color: var(--rood);
    border: white solid 2px;
    color: white;
    height: 2em;
    width: 6em;
}

button[type=submit]:active {
    font-size: 1em;
    background-color: var(--btnroodact);
}

#btnrood {
    background-color: var(--rood);
}

#btnrood:active {
    background-color: var(--btnroodact);
}

#btnpaars {
    background-color: var(--paars);
}

#btnpaars:active {
    background-color: var(--btnpaarsact);
}

#btnblauw {
    background-color: var(--blauw);
}

#btnblauw:active {
    background-color: var(--btnblauwact);


}

#btngroen {
    background-color: var(--groen);
}

#btngroen:active {
    background-color: var(--btngroenact);
}


/* twee losse buttons */
.rareButton {
    background-color: transparent;
    border: none;
    font-size: 100px;
    grid-area: fles;
    z-index: 100;

}
#delete {
    place-self: start end;
    /*justify-self: end;*/
    /*align-self: start;*/

    /*position: fixed;*/

    /*bottom: 5em;*/
}


#download {
    place-self:start;
    /*justify-self: start;*/
    /*align-self: start;*/
    /*position: fixed;*/
    /*background-color: transparent;*/
    /*border: none;*/
    /*bottom: 13em;*/

}

/*span {*/
/*    */
/*}*/


canvas {
    margin-top: 20em;
    width: 200px;
!important;
    height: 200px;
!important;
}

@media (min-width: 65em) {
    main{
        grid-template-rows: 6fr 3fr ;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-areas:
                "controls controls fles"
                "save delete fles" ;
        gap: 1em;
    }
    main > section:nth-of-type(1){
        align-self: end;
    }
    #delete {
        place-self: start;
        grid-area: delete;
    }


    #download {
        place-self:start end;
        grid-area: save;

    }

    button[aria-expanded="false"] + * {
        display:flex;
    }
    section:nth-of-type(1) > article:nth-of-type(1) > div > h2 {
    cursor:default;
    }
    section:nth-of-type(1) > article:nth-of-type(1) > div > button {
    display:none;
    }
}
