/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/RubrikBold 400.otf') format('opentype');
	font-weight: normal;
	font-style: normal;

}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/
body {
  font-family:eenfont, sans-serif;
  color:var(--color-text);
  background-color:var(--color-background);
}

/* jouw code */

body {
	height :100dvh;
	display: grid;
	place-content:center;
}

h1 {
	font-size:6em;
	position:relative;
}

h1::before {

}


h1,
span {
	color:#f9d839;
	display:inline-block;
	position:relative;
}

span:first-of-type::after {
	content:"";
	position:absolute;
	background-color:red;
	clip-path: polygon(76% 0, 100% 0, 100% 35%, 56% 35%);
	height:.5em;
	width: 1em;
	left:-.65em;
	top:0.16em;
}


h1:hover {
	animation-name: praxis;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

h1:hover span:first-of-type {
	animation-name: hamer;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}


span:hover {

}


@keyframes praxis {
	0% {

	}

	100% {

	}
}


@keyframes hamer {
	0% {

		transform: translateY(0%);
	}
	10% {

		transform: translateX(-1em)
		           rotate(-180deg)
		           translateY(1em);
	}
	20% {

		transform: translateX(-2em)
		rotate(-360deg)
		translateY(-1em);

	}
	30% {

		transform: translateX(-3em)
		rotate(0deg)
		translateY(0em);

	}
	40% {

		transform: translateX(-3em)
		rotate(-10deg)
		translateY(0em);

	}
	45% {

		transform: translateX(-2.5em)
		rotate(20deg)
		translateY(0em);

	}
	50% {

		transform: translateX(-3em)
		rotate(-10deg)
		translateY(0em);
	}
	55% {

		transform: translateX(-2.5em)
		rotate(20deg)
		translateY(0em);
	}
	60% {

		transform: translateX(-3em)
		rotate(-10deg)
		translateY(0em);
	}
	65% {

		transform: translateX(-2.5em)
		rotate(20deg)
		translateY(0em);
	}
	100%{
		transform: translateY(0%);
	}
}
