/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/RubrikBold 400.otf') format('opentype');
	font-weight: normal;
	font-style: normal;

}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/
body {
  font-family:eenfont, sans-serif;
  color:var(--color-text);
  background-color:var(--color-background);
}

/* jouw code */

body {
	height :100dvh;
	display: grid;
	place-content:center;
}

h1 {
	font-size:6em;
	position:relative;
}

h1::before {

}


h1, span {
	color:#f9d839;
	display:inline-block;
	position:relative;

}

span::after {
	content:"";
	position:absolute;
	background-color:red;

	clip-path: polygon(76% 0, 100% 0, 100% 35%, 56% 35%);
	height:.5em;
	width: 1em;
	left:-.65em;
	top:0.15em



}